@font-face {
  font-family: "Young Serif", "Outfit", sans-serif;
  src: ("assets\fonts\young-serif\YoungSerif-Regular.ttf") format("truetype");
  src: ("assets\fonts\outfit\Outfit-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: hsl(30, 54%, 90%);
  font-family: "Young Serif", "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe--main {
  margin: 50px;
  background-color: white;
  padding: 40px;
  align-items: center;
  border-radius: 15px;
  width: 70%;
  max-width: 500px;
  box-sizing: border-box;
}

.omelette-dish {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
}

li,
p,
.quantity,
.nut-name {
  font-size: 12px;
}
.b-text,
.quantity {
  font-weight: bold;
}
.preparation--time {
  background-color: hsl(330, 100%, 98%);
  padding: 10px;
  border-radius: 15px;
}

.preparation--time > h4 {
  color: hsl(297, 72%, 27%);
  margin: 3px;
}

.preparation--list > li {
  margin: 3px;
  padding: 3px;
}

.preparation--list > li::marker {
  color: hsl(297, 72%, 27%);
}

h3,
.quantity {
  color: hsl(14, 45%, 36%);
}

.ingredients > ul {
  margin: 10px;
}

.ingredients--list > li {
  margin: 4px;
  padding: 3px;
}

.ingredients--list > li::marker {
  color: hsl(14, 45%, 36%);
}

.instruction > h3 {
  margin: 17px;
}

.instruction--list > li {
  margin: 4px;
  padding: 4px;
}
.instruction--list > li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.value > li {
  color: hsl(14, 45%, 36%);
  margin-left: 40px;
}

.nutrient {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.quantity {
  margin-left: 50px;
  align-items: center;
}

@media screen and (max-width: 375px) {
  .recipe--main {
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
}
